# Ignore all executables
*.exe

# Ignore object files
*.o
*.obj

# Ignore shared libraries
*.so
*.dll

# Ignore static libraries
*.lib
*.a

# Ignore debugging symbol files
*.pdb
*.dSYM/

# Ignore intermediate files created during assembly or linking
*.elf
*.map

# Ignore other common build artifacts
*.bin
*.hex
*.lst
*.out
*.srec